.resumeSections{
    display: inline-block;
    color: black;
    right: 0;
    top:130;
    height: calc(100vh - 130px);
    width: 70%;
    background-color: rgb(26, 37, 192);
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
    display: none;
    }
    


    > *{
        width: 70%;
        height: calc(100vh - 130px);
        scroll-snap-align: start;
        
    }

}