.portfolio{
    height: 100vh;
    height: calc(100vh - 130px);
    overflow: hidden;



        // .sidBar{
        //     display: inline-block;

        //     top:130;
        //     left:0;
        //     height: calc(100vh - 130px);

                

            
        // }

    }
     


