.portfolio{
    background-color: #f9f4fb;
   
    .leftRight{
        display: flex;
        flex-direction: column;
    }
   
    .resumeSection{
        width: 70%;
        background-color: darkred;
        position: relative;
        top:130px;

        >*{
            width: 70vw;
            height: calc(100vh -70px);

        }
        

    }
     




}