.projectList{
    font-size: 14px;
    margin-right: 5px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    transition: all .5s ease;


    &.active{
        background-color:black;
        color:white;
    }
}