.languages {
  width: 100%;
  background-color: #f9f4fb;
  display: flex;
  flex-direction: column;
  margin-right: 200px;

  h1 {
    color: #ffd126;
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 0px;
    background-color: #fa4f24;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 25px;
  }

  h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3px;
  }
}
